In [27]:
import pandas as pd
from datetime import datetime
from pymongo import MongoClient

In [28]:
# Provide the mongodb atlas url to connect python to mongodb using pymongo
CONNECTION_STRING = "mongodb+srv://oscarmejias:oscar123@cluster0.bunlk55.mongodb.net/?retryWrites=true&w=majority"

# Create a connection using MongoClient. You can import MongoClient or use pymongo.MongoClient
client = MongoClient(CONNECTION_STRING)

In [34]:
db = client.get_database('example_db')
data = db.data2

In [35]:
df = pd.DataFrame.from_dict(data.find())

In [3]:
class WrappedDataFrame:
    def __init__(self, df):
        self._df = df
        self._update_computed_columns()
        self._update_dataframe

    def _update_computed_columns(self):
        # Define all your computed columns
        self._df['densidad'] = self._df['masa'] / self._df['volumen']

    def _update_dataframe(self):
        self._df = pd.DataFrame.from_records(db.data.find())

    @property
    def df(self):
        self._update_dataframe()
        self._update_computed_columns()
        return self._df
    
df1 = WrappedDataFrame(df)

In [33]:
df.head()

                 date  metadata  masa                       _id  densidad
0 2022-12-15 05:00:00      1234  58.0  639c0afcbc9e3546b3e55f8f      1.52
1 2022-12-15 06:00:00      1234  19.0  639c0c7265180b9ded0eea83      0.92
2 2022-12-15 07:00:00      1234  71.0  639c0c9765180b9ded0eea84      1.84
3 2022-12-15 08:00:00      1234  47.0  639c0caa65180b9ded0eea85      2.37

In [23]:
df1._df.head()

NameError: name 'df1' is not defined

In [36]:
data.insert_many([
    {'date': datetime(2022,12,16,6),
    'masa': 72,
    'densidad': 1.37},
    {'date': datetime(2022,12,16,7),
    'masa': 39,
    'densidad': 2.01,},
    {'date': datetime(2022,12,16,8),
    'masa': 52,
    'densidad': 1.86},
    {'date': datetime(2022,12,16,9),
    'masa': 23,
    'densidad': 2.62,}
])

In [24]:
list(db.data.find())

[{'date': datetime.datetime(2022, 12, 15, 0, 0),
  '_id': ObjectId('639b4fa65bd8c179ea1a5dd7'),
  'masa': 64.0,
  'volumen': 1.32},
 {'date': datetime.datetime(2022, 12, 15, 1, 0),
  '_id': ObjectId('639b5ab31224d30b89d771cd'),
  'masa': 48,
  'volumen': 1.17},
 {'date': datetime.datetime(2022, 12, 15, 1, 0),
  '_id': ObjectId('639b5d0f663c4ae1cd7151ef'),
  'masa': 48,
  'volumen': 1.17},
 {'date': datetime.datetime(2022, 12, 15, 2, 0),
  '_id': ObjectId('639b619b727de97fd4fcc4ff'),
  'masa': 81,
  'volumen': 2.73},
 {'date': datetime.datetime(2022, 12, 15, 3, 0),
  '_id': ObjectId('639bb0c7727de97fd4fcc500'),
  'masa': 19,
  'volumen': 0.92}]