In [19]:
import pandas as pd
from datetime import datetime
import db

In [30]:
df = pd.DataFrame.from_dict(db.data.find())

In [27]:
class WrappedDataFrame:
    def __init__(self, df):
        self._df = df
        self._update_computed_columns()
        self._update_dataframe

    def _update_computed_columns(self):
        # Define all your computed columns
        self._df['densidad'] = self._df['masa'] / self._df['volumen']

    def _update_dataframe(self):
        self._df = pd.DataFrame.from_records(db.data.find())

    @property
    def df(self):
        self._update_dataframe()
        self._update_computed_columns()
        return self._df
    
df1 = WrappedDataFrame(df)

In [31]:
df.head()

                 date                       _id  masa  volumen
0 2022-12-15 00:00:00  639b4fa65bd8c179ea1a5dd7  64.0     1.32
1 2022-12-15 01:00:00  639b5ab31224d30b89d771cd  48.0     1.17
2 2022-12-15 01:00:00  639b5d0f663c4ae1cd7151ef  48.0     1.17
3 2022-12-15 02:00:00  639b619b727de97fd4fcc4ff  81.0     2.73
4 2022-12-15 03:00:00  639bb0c7727de97fd4fcc500  19.0     0.92

In [29]:
df1._df.head()

                 date                       _id  masa  volumen   densidad
0 2022-12-15 00:00:00  639b4fa65bd8c179ea1a5dd7  64.0     1.32  48.484848
1 2022-12-15 01:00:00  639b5ab31224d30b89d771cd  48.0     1.17  41.025641
2 2022-12-15 01:00:00  639b5d0f663c4ae1cd7151ef  48.0     1.17  41.025641
3 2022-12-15 02:00:00  639b619b727de97fd4fcc4ff  81.0     2.73  29.670330
4 2022-12-15 03:00:00  639bb0c7727de97fd4fcc500  19.0     0.92  20.652174

In [23]:
db.data.insert_one({
    'date': datetime(2022,12,15,3),
    'masa': 19,
    'volumen': 0.92,
})

In [24]:
list(db.data.find())

[{'date': datetime.datetime(2022, 12, 15, 0, 0),
  '_id': ObjectId('639b4fa65bd8c179ea1a5dd7'),
  'masa': 64.0,
  'volumen': 1.32},
 {'date': datetime.datetime(2022, 12, 15, 1, 0),
  '_id': ObjectId('639b5ab31224d30b89d771cd'),
  'masa': 48,
  'volumen': 1.17},
 {'date': datetime.datetime(2022, 12, 15, 1, 0),
  '_id': ObjectId('639b5d0f663c4ae1cd7151ef'),
  'masa': 48,
  'volumen': 1.17},
 {'date': datetime.datetime(2022, 12, 15, 2, 0),
  '_id': ObjectId('639b619b727de97fd4fcc4ff'),
  'masa': 81,
  'volumen': 2.73},
 {'date': datetime.datetime(2022, 12, 15, 3, 0),
  '_id': ObjectId('639bb0c7727de97fd4fcc500'),
  'masa': 19,
  'volumen': 0.92}]